name: Coverage (CI)

on:
  push:
    branches: [ "main" ]
  pull_request:

jobs:
  coverage:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential cmake gcovr

      - name: Build + run + generate coverage.xml
        run: |
          rm -rf build
          cmake -S . -B build -DCMAKE_BUILD_TYPE=Debug -DCMAKE_C_COMPILER=gcc
          cmake --build build
          ./build/coverage_main
          gcovr -r . --filter src --sonarqube -o coverage.xml
          ls -l coverage.xml

      - name: Upload coverage.xml
        uses: actions/upload-artifact@v4
        with:
          name: coverage-report
          path: coverage.xml
